
element.style {
}
<style>
:root {
}

<style>
:root {
    --darkreader-neutral-background: #121415;
    --darkreader-neutral-text: #cdc9c5;
    --darkreader-selection-background: #0049a2;
    --darkreader-selection-text: #dcdbd8;
}
<style>
html, body {
    border-color: #6d6659;
    color: #dcdbd8;
}
<style>
html, body {
    background-color: #17191a;
}
<style>
html {
    color-scheme: dark !important;
}
<style>
html {
    background-color: #17191a !important;
}
* {
    box-sizing: border-box;
}
foglio di stile agente utente
:root {
    view-transition-name: root;
}
foglio di stile agente utente
html {
    display: block;
}
<style>
::-webkit-scrollbar {
    background-color: #1e2122;
    color: #a29c91;
}
<style>
::-webkit-scrollbar-corner {
    background-color: #17191a;
}
<style>
::-webkit-scrollbar-thumb {
    background-color: #424649;
}
<style>
::selection {
    background-color: #0049a2 !important;
    color: #dcdbd8 !important;
}
background-color rgb(23, 25, 26)
border-bottom-color rgb(109, 102, 89)
border-left-color rgb(109, 102, 89)
border-right-color rgb(109, 102, 89)
border-top-color rgb(109, 102, 89)
box-sizing border-box
color rgb(220, 219, 216)
color-scheme dark
display block
height 5941.78px
view-transition-name root
width 1422px


